<!doctype html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<title>Cadastro Aluno</title>		
</head>
<body>

<form name="formAluno">

<div class="container">

<div class="row">

<div class="col-md-4">

<div class="form-group">
<label>Matrícula</label>
<input type="text" name="matricula" ng-model="aluno.matricula" class="form-control">
</div>

<div class="form-group">
<label>Nome</label>
<input type="text" name="nome" ng-model="aluno.nome" class="form-control">
</div>

<div class="form-group">
<label>Turma</label>

<select name="turma" ng-model="aluno.turma" class="form-control">
	<option ng-repeat="turma in listaTurmas" value="{{turma.nome}}">{{turma.semestre}}-{{turma.codigo}}-{{turma.nome}}</option>
</select>
</div>

<button ng-click="gravar()" class="btn btn-primary">Gravar</button>
</div>

</form>

<div class="col-md-1"></div>

<div class="col-md-4">

<table ng-hide="listaAlunos.length == 0" class="table table-condensed">
	<thead>
		<th>Matrícula</th>
		<th>Nome</th>
		<th>Turma</th>
	</thead>
	<tbody>
		<tr ng-repeat="aluno in listaAlunos">
		<td>
			{{aluno.matricula}}
		</td>
		<td>
			{{aluno.nome}}
		</td>
		<td>
			{{aluno.turma}}
		</td>
		<td>
			<button ng-click="remover(aluno)" class="btn btn-danger">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</td>
			
		</tr>

	</tbody>
</table>

</div>

</div>

</div>

</body>



</html>