<!doctype html>
<html lang="pt" >
<head>
	<meta charset="UTF-8">
	<title>Cadastro Turma</title>		
</head>
<body>


	<div class="container">

	<div class="row">

	<div class="col-md-4">

	<div class="form-group">
	
	<label>Semestre</label>
	<select name="semestre" ng-model="turma.semestre" class="form-control">  			
		<option ng-repeat="semestre in listaSemestres" value="{{semestre.valor}}">{{semestre.valor}}</option>		
	</select>
	</div>

	<div class="form-group">

	<label>Disciplina</label>
  	<select name="disciplina" ng-model="turma.disciplina" class="form-control">  			
	    <option ng-repeat="disciplina in listaDisciplinas" value="{{disciplina}}">{{disciplina.codigo}}-{{disciplina.nome}}</option>
	    	
	</select>
	</div>	

	<button ng-click="gravar()" class="btn btn-primary">Gravar</button>
	<button ng-click="alterar()" class="btn btn-default">Alterar</button>
	</div>

	<div class="col-md-1"></div>

	<div class="col-md-4">

	 <table ng-hide="listaTurmas.length == 0" class="table table-condensed">
		<thead>
			<tr>				
				<th>Semestre</th>	
				<th>Disciplina</th>				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="turma in listaTurmas">			
				<td>					
					{{turma.semestre}}
				</td>	
				<td>
					{{turma.disciplina.codigo}}-{{turma.disciplina.nome}}
				</td>
				<td>					
					<button ng-click="remover(turma)" class="btn btn-xs btn-danger"->
						<span class="glyphicon glyphicon-remove"></span>
					</button>
										
				</td>
				<td>
					<button ng-click="buscar(turma)" class="btn btn-xs btn-default"->
						<span class="glyphicon glyphicon-refresh"></span>
					</button>

				</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	<div class-"row">

		<div class="col-md-4">

	 <table ng-hide="listaAlunos.length == 0" class="table table-condensed">
		<thead>
			
			<tr>
				<th>Matricula</th>	
				<th>Nome</th>				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="aluno in listaAlunos">			
				<td>					
					{{aluno.matricula}}
				</td>
				<td>					
					{{aluno.nome}}
				</td>	
				
				
			</tr>
		</tbody>
	</table>
	</div> 
	</div>	
	
</body>



</html>
